# Terraform state
*.tfstate
*.tfstate.backup

# Terraform plan
*.tfplan

# Terraform variables
*.tfvars
*.tfvars.json

# Crash log
crash.log

# Local Terraform modules
.terraform/

.terraform.lock.hcl
